.additional-goods {
  position: relative;
  padding-top: 44px;
  border-top: 2px solid #68b738;

  @media (min-width: $tablet-width) and (max-width: $tablet-only-width) {
    margin-left: -$wrapper-padding-tablet;
    margin-right: -$wrapper-padding-tablet;
    padding-left: $wrapper-padding-tablet;
    padding-right: $wrapper-padding-tablet;
  }

  @media (min-width: $desktop-width) {
    margin-left: -$wrapper-padding-desktop;
    margin-right: -$wrapper-padding-desktop;
    padding-left: $wrapper-padding-desktop;
    padding-right: $wrapper-padding-desktop;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: $gap-desktop;
  }

  @media (min-width: $desktop-full-width) {
    margin-left: -$wrapper-padding-desktop-full;
    margin-right: -$wrapper-padding-desktop-full;
    padding-left: $wrapper-padding-desktop-full;
    padding-right: $wrapper-padding-desktop-full;
  }
}

.additional-goods__title {
  display: inline-block;
  position: absolute;
  top: -0.7em;
  margin-top: 0;
  margin-bottom: 5px;
  padding-right: 22px;
  font-family: $title-font;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 1;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    margin-bottom: 56px;
    grid-column: 1 / 3;
    padding-left: 37px;
    padding-right: 37px;
    font-size: 2.25em;
  }

  @media (min-width: $desktop-width) {
    margin-left: -40px;
    margin-right: -40px;
    padding-left: 40px;
  }
}

.additional-goods__list {
  @include reset-list;

  @media (min-width: $tablet-width) {
    margin-top: 46px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 4;
  }
}

.additional-goods__item {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  padding-top: 13px;
  padding-bottom: 18px;
  border-style: solid;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-bottom-width: 1px;
  border-color: #cdcdcd;

  @media (min-width: $tablet-width) {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-only-width) {
    padding: 26px 38px;
    row-gap: 23px;
    border-left-width: 1px;
    border-right-width: 1px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 245px;
    column-gap: 38px;
    padding-top: 15px;
    padding-bottom: 14px;
  }

  &:first-child {
    border-top-width: 1px;
  }
}

.additional-goods__caption {
  margin-top: 0;
  margin-bottom: 12px;
  align-self: center;
  font-family: $title-font;
  font-size: 1em;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
  color: $special-dark-2;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    font-size: 1.25em;
  }
}

.additional-goods__product-futures {
  margin: 0;
  padding: 0;
  font-size: 0.87em;
  align-content: start;
  line-height: 1;

  @media (min-width: $tablet-width) and (max-width: $tablet-only-width) {
    justify-self: right;
  }

  @media (min-width: $tablet-width) {
    font-size: 1em;
    line-height: 1.25;
  }

  @media (min-width: $desktop-width) {
    align-content: center;
  }
}

.additional-goods__futures-item {
  padding: 0;
  border-bottom: none;

  @media (min-width: $tablet-width) {
    margin-top: 3px;
  }
}

.additional-goods__button {
  margin-top: 15px;
  font-size: 1em;
  line-height: 1;
  padding: 12px 0;

  @media (max-width: $mobile-only-width) {
    grid-column: 1;
  }

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-only-width) {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
  }

  @media (min-width: $desktop-width) {
    line-height: 1.25;
    padding: 11px 0;
  }
}

.additional-goods__promo {
  box-sizing: border-box;
  height: 289px;
  margin-top: 39px;
  margin-bottom: 0;
  padding: 56px 43px 43px 43px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: $basic-font;
  font-size: 1em;
  line-height: 1.25;
  text-align: center;
  background-color: $base-accent;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/gift/gift-photo-mobile.jpg");
  color: $basic-white;

  @media (max-width: $mobile-only-width) and (min-resolution: 2dppx) {
    background-image: url("../img/gift/gift-photo-mobile-2x.jpg");
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-only-width) {
    height: 200px;
    margin-top: 69px;
    flex-direction: row;
    padding: 0 125px 0 78px;
    background-image: url("../img/gift/gift-photo-tablet.jpg");
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-only-width) and (min-resolution: 2dppx) {
    background-image: url("../img/gift/gift-photo-tablet-2x.jpg");
  }

  @media (min-width: $desktop-width) {
    grid-column: 4 / 5;
    margin-top: 47px;
    padding: 43px 35px;
    background-image: url("../img/gift/gift-photo-desktop.jpg");
  }

  @media (min-width: $desktop-width) and (min-resolution: 2dppx) {
    background-image: url("../img/gift/gift-photo-desktop-2x.jpg");
  }
}

.additional-goods__promo-icon {
  display: inline-block;
  width: 78px;
  height: 80px;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 83px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 12px;
  }
}

.additional-goods__promo span {
  display: inline-block;
  max-width: 161px;

  @media (min-width: $tablet-width) and (max-width: $tablet-only-width) {
    text-align: left;
  }
}
