.additional-goods {
  border-top: 2px solid #68b738;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: $gap-desktop;
  }
}

.additional-goods__title {
  display: inline-block;
  position: relative;
  top: -0.7em;
  margin-top: 0;
  margin-bottom: 5px;
  padding-right: 22px;
  font-family: $title-font;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 1;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    margin-bottom: 56px;
    grid-column: 1 / 3;
  }
}

.additional-goods__list {
  @include reset-list;

  @media (min-width: $desktop-width) {
    grid-column: 1 / 4;
  }
}

.additional-goods__item {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  padding-top: 13px;
  padding-bottom: 19px;
  border-style: solid;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-bottom-width: 1px;
  border-color: #cdcdcd;

  @media (min-width: $tablet-width) {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-only-width) {
    padding: 26px 38px;
    row-gap: 23px;
    border-left-width: 1px;
    border-right-width: 1px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 1fr);
    column-gap: $gap-desktop;
  }

  &:first-child {
    border-top-width: 1px;
  }
}

.additional-goods__caption {
  margin-top: 0;
  margin-bottom: 13px;
  align-self: center;
  font-family: $title-font;
  font-size: 1em;
  line-height: 1em;
  text-transform: uppercase;
  color: $special-dark-2;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.additional-goods__product-futures {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) and (max-width: $tablet-only-width) {
    justify-self: right;
  }
}

.additional-goods__futures-item {
  padding: 0;
  border-bottom: none;
}

.additional-goods__button {
  margin-top: 15px;
  font-size: 1em;
  line-height: 1;
  padding: 10px 0;

  @media (max-width: $mobile-only-width) {
    grid-column: 1;
  }

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-only-width) {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
  }

  @media (min-width: $desktop-width) {
    line-height: 1.25;
  }
}

.additional-goods__promo {
  box-sizing: border-box;
  height: 289px;
  margin-top: 39px;
  margin-bottom: 0;
  padding: 43px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: $basic-font;
  font-size: 1em;
  line-height: 1.25;
  text-align: center;
  background: url("../img/gift-photo-mobile.jpg") 0 0 / cover no-repeat $base-accent;
  color: $basic-white;

  @media (min-width: $tablet-width) and (max-width: $tablet-only-width) {
    height: 200px;
    margin-top: 69px;
    flex-direction: row;
    justify-content: space-around;
    background: url("../img/gift-photo-tablet.jpg") 0 0 / cover no-repeat $base-accent;
  }

  @media (min-width: $desktop-width) {
    grid-column: 4 / 5;
    margin-top: 0;
    background: url("../img/gift-photo-desktop.jpg") 0 0 / cover no-repeat $base-accent;
  }

  &::before {
    content: "";
    display: inline-block;
    width: 78px;
    height: 80px;
    background: url("../img/icon_gift.svg") 0 0 / cover no-repeat;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 83px;
    }
  }

  span {
    display: inline-block;
    max-width: 161px;

    @media (min-width: $tablet-width) and (max-width: $tablet-only-width) {
      text-align: left;
    }
  }
}
