.button {
  display: inline-block;
  width: 100%;
  padding-top: 13px;
  padding-bottom: 13px;
  border: none;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.875em;
  line-height: 1.285;
  font-family: $title-font;
  background-color: $base-accent;
  color: $basic-white;
  transition: background-color, color 0.2s ease;

  &:hover {
    background-color: $special-accent;
  }

  &:active {
    color: opacify(rgba($basic-white, 0), 0.3);
  }

  &--light {
    background-color: $basic-grey;
    color: $special-dark;

    &:hover {
      background-color: $border-lightest;
    }

    &:active {
      color: opacify(rgba($special-dark, 0), 0.3);
    }
  }
}
