.catalog-item {
  display: grid;
  grid-template-columns: 140px 1fr;
  grid-template-rows: repeat(3, minmax(min-content, auto));
  padding-top: 20px;
  padding-bottom: 24px;
  border-bottom: 1px solid $border-lightest;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    padding-bottom: 38px;
    border-bottom: none;
    background-image: linear-gradient(to bottom, $basic-white 0, $basic-white 20%, $basic-grey 20%, $basic-grey 100%);
  }

  &:first-child {
    @media (max-width: $mobile-only-width) {
      border-top: 1px solid $border-lightest;
    }
  }
}

.catalog-item__br {
  &--mobile {
    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &--tablet {
    @media (max-width: $mobile-only-width) {
      display: none;
    }
  }
}

.catalog-item__image-wrapper {
  height: 112px;
  display: flex;
  justify-content: center;
  align-items: end;

  @media (max-width: $mobile-only-width) {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }

  @media (min-width: $tablet-width) {
    height: 200px;
    margin-top: 14px;
    margin-bottom: 30px;
    grid-row: initial;
    grid-column: initial;
    justify-self: center;
    align-items: flex-end;
  }

  @media (min-width: $desktop-width) {
    height: 196px;
    margin-bottom: 39px;
  }
}

.catalog-item__title {
  margin-top: 0;
  margin-bottom: 3px;
  font-family: $title-font;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.25;
  color: $special-dark-2;
  text-transform: uppercase;

  @media (max-width: $mobile-only-width) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 16px;
    font-size: 1.25em;
    line-height: 1.2;
    text-align: center;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 2px;
  }
}

.catalog-item__product-features {
  @media (max-width: $mobile-only-width) {
    grid-row: 2 / 3;
  }

  @media (min-width: $desktop-width) {
    margin-top: 15px;
  }
}

.catalog-item__button {
  margin-top: 12px;
  font-size: 1em;
  line-height: 1.25;
  padding-top: 10px;
  padding-bottom: 10px;

  @media (max-width: $mobile-only-width) {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 9px;
  }
}
