.catalog__title {
  font-family: $title-font;
  font-weight: 400;
  font-size: 2.25em;
  line-height: 1;
}

.catalog__list {
  @include reset-list;
}

.catalog__item {
  margin-left: -$wrapper-padding-mobile;
  margin-right: -$wrapper-padding-mobile;
  padding-left: $wrapper-padding-mobile;
  padding-right: $wrapper-padding-mobile;
}

.catalog__additional-goods {
  margin-top: 28px;
  margin-bottom: 35px;
}
