.catalog__title {
  margin-top: 27px;
  margin-bottom: 39px;
  font-family: $title-font;
  font-weight: 400;
  font-size: 2.25em;
  line-height: 1;

  @media (min-width: $tablet-width) {
    margin-top: 44px;
    margin-bottom: 62px;
    font-size: 3.75em;
  }

  @media (min-width: $desktop-width) {
    margin-top: 54px;
    margin-bottom: 59px;
  }
}

.catalog__list {
  @include reset-list;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: $gap-tablet;
    grid-row-gap: 40px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: $gap-desktop;
    grid-row-gap: 37px;
  }
}

.catalog__item {
  margin-left: -$wrapper-padding-mobile;
  margin-right: -$wrapper-padding-mobile;
  padding-left: $wrapper-padding-mobile;
  padding-right: $wrapper-padding-mobile;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding-left: 38px;
    padding-right: 38px;
  }
}

.catalog__additional-goods {
  margin-top: 34px;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-top: 92px;
    margin-bottom: 76px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 101px;
    margin-bottom: 86px;
  }
}
