.cats-comparison {
  grid-area: slider;
  font-family: $title-font;
  font-size: 1em;
  line-height: 1.25;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    display: grid;
  }
}

.cats-comparison__slider {
  position: relative;

  @media (max-width: $mobile-only-width) {
    height: 240px;
    margin-top: -8px;
    margin-left: -8px;
  }

  @media (min-width: $tablet-width) {
    width: 649px;
    height: 520px;
    overflow: hidden;
    margin-top: 23px;
    justify-self: center;
  }

  @media (min-width: $desktop-width) {
    width: 649px;
    height: 520px;
    margin: 0 -38px 0 auto;
    justify-self: unset;
  }
}

.cats-comparison__image-wrapper {
  justify-self: center;
  position: absolute;

  @media (max-width: $mobile-only-width) {
    width: 100%;
    position: absolute;
    left: calc(50%);
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
  }

  @media (min-width: $tablet-width) {
    display: inline-block;
    max-width: 700px;
    grid-column: unset;
    overflow: hidden;
  }
}

.cats-comparison__cat-image {
  height: 240px;

  @media (min-width: $tablet-width) {
    height: 520px;
  }
}

.cats-comparison__image-wrapper--before {
  z-index: 1;

  @media (min-width: $tablet-width) {
    width: 50%;
  }
}

.cats-comparison__image-wrapper--before .cats-comparison__cat-image {
  @media (min-width: $tablet-width) {
    margin-left: -14px;
  }

  @media (min-width: $desktop-width) {
    margin-left: -40px;
  }
}

.cats-comparison__image-wrapper--after {
  z-index: 2;

  @media (max-width: $mobile-only-width) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    height: 520px;
    right: 0;
    width: 50%;
  }
}

.cats-comparison__image-wrapper--after .cats-comparison__cat-image {
  position: absolute;

  @media (min-width: $tablet-width) {
    right: 27px;
  }

  @media (min-width: $desktop-width) {
    right: 50px;
  }
}


.cats-comparison__cat-status {
  --control-border-color: rgba(0, 0, 0, 0.3);
  padding: 0;
  border: none;
  border-bottom: 1px dotted var(--control-border-color);
  cursor: pointer;
  font-family: $title-font;
  font-size: 1em;
  text-transform: uppercase;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    font-size: 1.25em;
  }

  &:hover {
    border-bottom: 1px solid var(--control-border-color);
  }

  &:active {
    border-bottom: none;
  }
}

.cats-comparison__cat-status--was {
  order: 1;
  margin-right: 16px;
  margin-left: 4px;

  @media (min-width: $tablet-width) {
    margin-right: 20px;
    margin-left: 0;
  }
}

.cats-comparison__cat-status--become {
  order: 3;
  margin-left: 16px;

  @media (min-width: $tablet-width) {
    margin-left: 20px;
  }
}

.cats-comparison__toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-top: 15px;
    margin-bottom: 59px;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-end;
    margin-top: 37px;
    margin-bottom: 60px;
    z-index: 2;
  }
}

.cats-comparison__image-toggle {
  position: relative;
  order: 2;
  flex: 0 0 84px;
  height: 12px;
  background-color: $basic-white;
  border: 1px solid $special-grey;
  border-radius: 6px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    flex: 0 0 428px;
    height: 6px;
    background-color: $special-grey-lighter;
    border: none;
  }
}

.cats-comparison__image-toggle-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 6px;
  transform: translateY(-50%);
  width: 35px;
  height: 6px;
  border-radius: 6px;
  background-color: $special-accent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
  cursor: pointer;
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.19);
  }

  &:active {
    border-color: $base-accent;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  }

  @media (min-width: $tablet-width) {
    left: 198px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 1px solid $special-grey;
    background-color: $basic-white;

    &::after {
      content: "";
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $special-accent;
    }
  }
}
