.how-works__wrapper {
  @include wrapper-x-padding();
  padding-top: 1px;
  padding-bottom: 42px;
}

.how-works__title {
  margin-top: 26px;
  margin-bottom: 38px;
  font-family: $title-font;
  font-weight: 400;
  font-size: 2.25em;
  line-height: 1.11;
}

.how-works__list {
  @include reset-list;
  display: grid;
  grid-row-gap: 20px;
  counter-reset: num;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 60px;
    grid-row-gap: 37px;
  }

  @media (min-width: $desktop-width) {
    grid-template-rows: auto;
    grid-column-gap: 80px;
    grid-row-gap: unset;
  }
}

.how-works__item {
  --icon-height: 60px;
  display: grid;
  grid-template-columns: var(--icon-height) auto;
  column-gap: 20px;
  counter-increment: num;

  @media (min-width: $tablet-width) {
    --icon-height: 80px;
    column-gap: 30px;
    row-gap: 31px;
    grid-template-columns: var(--icon-height) min-content;
    grid-template-rows: 9px var(--icon-height) auto;
  }

  @media (min-width: $desktop-width) {
    column-gap: unset;
    grid-template-columns: var(--icon-height) auto;
  }

  &:nth-child(odd) {
    @media (min-width: $tablet-width) and (max-width: $tablet-only-width) {
      grid-column: 1 / span 2;
    }
  }

  &:nth-child(even) {
    @media (min-width: $tablet-width) and (max-width: $tablet-only-width) {
      grid-column: 3 / span 2;
    }
  }

  &::after {
    @media (min-width: $tablet-width) {
      content: counter(num);
      font-size: 280px;
      font-family: $title-font;
      line-height: 1;
      color: $basic-grey;
      grid-row: 1 / -1;
      grid-column: 2 / 3;
      justify-self: right;
      align-self: start;
    }
  }
}

.how-works__icon-wrapper {
  width: var(--icon-height);
  height: var(--icon-height);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $base-accent;

  @media (min-width: $tablet-width) {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    width: var(--icon-height);
    height: var(--icon-height);
  }
}

.how-works__text {
  align-self: center;
  margin: 0;
  font-family: $basic-font;
  font-size: 0.875em;
  line-height: 1.285;
  color: $special-dark;

  @media (min-width: $tablet-width) {
    grid-row: 3 / 4;
    grid-column: 1 / -1;
    z-index: 1;
    align-self: start;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-only-width) {
    max-width: 245px;
  }
}
