.how-works__wrapper {
  @include wrapper-x-padding();
  padding-top: 1px;
  padding-bottom: 42px;
}

.how-works__title {
  margin-top: 26px;
  margin-bottom: 38px;
  font-family: $title-font;
  font-weight: 400;
  font-size: 2em;
}

.how-works__list {
  @include reset-list;
  display: grid;
  grid-row-gap: 20px;
}

.how-works__text {
  margin: 0;
  font-size: 0.875em;
  color: $special-dark;
}
