.input-group {
  display: grid;
  grid-template-columns: max-content minmax(100px, 1fr);
  column-gap: 17px;
  align-items: center;
}

.input-group--contacts {
  column-gap: 10px;

  @media (min-width: $tablet-width) {
    column-gap: 14px;
  }
}
