.live-example {
  background-color: #eaeaea;
}

.live-example__wrapper {
  @include wrapper-x-padding();
  padding-top: 25px;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    @include wrapper-x-padding(30px);
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-areas:
      "title title slider slider"
      "desc desc slider slider"
      "list list slider slider";
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 80px;
  }
}

.live-example__title {
  grid-area: title;
  margin-top: 2px;
  margin-bottom: 33px;
  font-family: $title-font;
  font-size: 2.25em;
  line-height: 1.11;
}

.live-example__description {
  grid-area: desc;
  margin-bottom: 25px;
  font-size: 0.875em;
  line-height: 1.285;
  font-family: $basic-font;
  color: $special-dark;
}

.live-example__result-list {
  grid-area: list;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 31px;
  grid-row-gap: 25px;
  line-height: 1;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(3, auto);
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(2, 162px);
    grid-column-gap: 42px;
  }
}

.live-example__result-item {
  dt {
    font-family: $title-font;
  }

  dd {
    margin: 0;
    font-family: $basic-font;
    font-size: 0.75em;
    color: $special-dark;
  }

  &--total {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    text-transform: uppercase;
    line-height: 1.425;

    @media (min-width: $tablet-width) {
      grid-column: unset;
      margin-left: auto;
    }

    @media (min-width: $desktop-width) {
      grid-column: 1 / -1;
      margin-left: 0;
    }

    dt {
      font-family: $title-font;
      font-size: 0.875em;
    }

    dd {
      font-family: $title-font;
      font-size: 0.875em;
      color: currentColor;

      &::after {
        content: ":";
        margin-right: 0.15em;

        @media (min-width: $desktop-width) {
          margin-right: 2em;
        }
      }
    }
  }
}
