.logo-image {
  display: inline-block;
  width: 34px;
  height: 38px;

  @media (min-width: $tablet-width) {
    width: 174px;
    height: 52px;
  }

  &:hover {
    opacity: 80%;
  }

  &:active {
    opacity: 60%;
  }

  .logo-mobile {
    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  .logo-tablet {
    @media (max-width: $mobile-only-width) {
      display: none;
    }
  }
}
