.logo-image {
  display: inline-block;

  &:hover {
    opacity: 80%;
  }

  &:active {
    opacity: 60%;
  }

  &--main {
    @media (max-width: $mobile-only-width) {
      width: 34px;
      height: 38px;
    }

    @media (min-width: $tablet-width) {
      width: 174px;
      height: 52px;
    }
  }

  .logo-mobile {
    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  .logo-tablet {
    width: 174px;
    height: 52px;

    @media (max-width: $mobile-only-width) {
      display: none;
    }
  }

  .logo-footer {
    width: 101px;
    height: 18px;
  }
}
