.main-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 16px;

  &--open {
    padding-bottom: 0;

    .main-nav__list {
      display: block;
    }

    .main-nav__toggle {
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' stroke='%23000' stroke-width='1.5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath transform='scale(.97098 1.0282) rotate(-45 24.5 7.2)' d='M0-.8h24.8'/%3E%3Cpath transform='scale(.97098 1.0282) rotate(45 -1.8 2.2)' d='M0-.8h24.8'/%3E%3C/svg%3E");
    }
  }

  &--closed {
    @media (max-width: $mobile-only-width) {
      .main-nav__list {
        display: none;
      }
    }

    .main-nav__toggle {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 18'%3E%3Cpath stroke='%23000' stroke-width='1.5' d='M0 1.3h24M0 9.3h24M0 17.3h24'/%3E%3C/svg%3E");
    }
  }

  &--nojs {
    .main-nav__toggle {
      display: none;
    }

    .main-nav__list {
      display: block;
    }
  }
}

.main-nav__toggle {
  width: 24px;
  height: 24px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: auto;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__list {
  @include reset-list;
  flex: 1 0 100%;
  margin-top: 16px;
  margin-left: -20px;
  margin-right: -20px;

  @media (min-width: $tablet-width) {
    flex: 0 0 auto;
    margin: 0;
    display: inline-flex;
  }
}

.main-nav__item {
  padding-top: 22px;
  padding-bottom: 24px;
  text-align: center;

  @media (max-width: $mobile-only-width) {
    border-top: 1px solid $border-lighten;

    &:last-child {
      border-bottom: 1px solid $border-lighten;
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 0;
    border-top: none;

    &:not(:last-child) {
      margin-right: 2em;
    }
  }
}

.main-nav__link {
  text-transform: uppercase;
  text-decoration: none;
  font-family: $title-font;
  font-weight: 500;
  font-size: 1.25em;
  line-height: 1;
  color: currentColor;

  &:link:hover {
    opacity: 60%;
  }

  &:link:active {
    opacity: 30%;
  }

  @media (min-width: $tablet-width) {
    font-size: 1.125em;
    font-weight: 400;
    line-height: 1.333;
  }

  &--light {
    @media (min-width: $desktop-width) {
      color: $basic-white;
    }
  }
}

.main-nav__link--active {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    right: 0;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: $base-accent;
  }
}

.main-nav__link--active.main-nav__link--light {
  &::after {
    @media (min-width: $desktop-width) {
      color: $basic-white;
      border-bottom-color: $basic-white;
    }
  }
}
