.main-nav__list {
  @include reset-list;
  margin-left: -20px;
  margin-right: -20px;
}

.main-nav__item {
  padding-top: 22px;
  padding-bottom: 24px;
  border-top: 1px solid $border-lighten;
  text-align: center;
}

.main-nav__link {
  text-transform: uppercase;
  text-decoration: none;
  font-family: $title-font;
  font-weight: 500;
  font-size: 1.25em;
  line-height: 1;
  color: currentColor;
}
