.page-header__wrapper {
  @include wrapper-x-padding();

  @media (max-width: $mobile-only-width) {
    border-bottom: 1px solid $border-lightest;
  }
}

.page-header__logo--mobile-only {
  margin-left: -12px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
