.page-footer {
  &--background {
    background-color: $basic-grey;
  }
}

.page-footer__top-wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
  }
}

.page-footer__bottom-wrapper {
  @include wrapper-x-padding();

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 55px;
    padding-bottom: 61px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 57px;
    padding-bottom: 58px;
  }
}

.page-footer__logo {
  display: block;
  border-bottom: 1px solid $border-light;
  text-align: center;

  @media (max-width: $mobile-only-width) {
    padding-top: 39px;
    padding-bottom: 32px;
  }

  @media (min-width: $tablet-width) {
    border-bottom: none;
  }
}

.page-footer__contacts {
  @include wrapper-x-padding();

  @media (min-width: $tablet-width) and (max-width: $tablet-only-width) {
    @include wrapper-x-padding(20px, 20px, 40px);
  }

  @media (min-width: $desktop-width) {
    grid-column: 1;
    grid-row: 1;
    justify-self: stretch;
    align-self: center;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 80px;
  }

  &-position {
    @media (min-width: $desktop-width) {
      grid-column: 1 / span 2;
    }
  }
}

.page-footer__map {
  @media (min-width: $desktop-width) {
    grid-row: 1;
    grid-column: 1;
  }
}

.page-footer__social {
  border-bottom: 1px solid $border-light;

  @media (max-width: $mobile-only-width) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  @media (min-width: $tablet-width) {
    border-bottom: none;
  }
}

.page-footer__copyright {
  @media (max-width: $mobile-only-width) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
