.product-futures {
  display: grid;
  align-content: start;
  font-family: $basic-font;
  font-weight: 400;
  font-size: 0.777em;
  line-height: 1.29;
  color: $special-dark;

  @media (min-width: $tablet-width) {
    margin-top: 14px;
    margin-bottom: 21px;
    font-size: 1em;
    line-height: 1;
  }

  dt {
    margin-right: 51px;
  }
}

.product-futures__item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding: 5px 0 9px;
    border-bottom: 1px solid $special-grey;
  }

  dd {
    margin: 0;
  }
}
