.program__fieldset {
  @include wrapper-x-padding();
  margin: 0;
  border: none;
  font-family: $title-font;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.125;
  text-transform: uppercase;

  @media (min-width: $tablet-width) and (max-width: $tablet-only-width) {
    @include wrapper-x-padding(20px, 20px, 40px);
  }
}

.program__fieldset-group {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: $gap-desktop;
  }
}

.program__group {
  display: grid;
  grid-row-gap: 13px;
}

.program__legend {
  margin-left: -$wrapper-padding-mobile;
  margin-bottom: 34px;
  padding-left: $wrapper-padding-mobile;
  padding-right: 15px;
  padding-bottom: 0.2em;
  font-size: 1.5em;
  line-height: 1.085;
  text-transform: none;

  @media (min-width: $tablet-width) and (max-width: $tablet-only-width) {
    margin-left: -$wrapper-padding-tablet;
    padding-left: $wrapper-padding-tablet;
    padding-right: $wrapper-padding-tablet;
  }
}

.program__legend--owner {
  margin-bottom: 32px;
  padding-top: 0.75em;
  padding-bottom: 0;

  @media (min-width: $tablet-width) {
    padding-top: 0;

    br {
      display: none;
    }
  }
}

.program__cat-params {
  padding-top: 27px;
  padding-bottom: 27px;
}

.program__program-type {
  padding-top: 20px;
  padding-bottom: 22px;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;

  @media (min-width: $tablet-width) {
    border-top: none;
    border-bottom: none;
  }

  .program__group {
    @media (min-width: $tablet-width) {
      border: 1px solid #cccccc;
    }
  }
}

.program__owner-contacts {
  margin-top: 8px;
  padding-top: 0;
  padding-bottom: 19px;
  border-top: 2px solid #68b738;

  .program__group {
    @media (min-width: $desktop-width) {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: $gap-desktop;
    }
  }
}

.program__comment {
  margin-top: 8px;
  padding-top: 0;
  padding-bottom: 19px;
  border-top: 2px solid #68b738;
}

.program__textarea {
  width: 100%;
  height: 150px;
}

.program__extra-goods {
  margin-top: 8px;
  padding-top: 0;
  padding-bottom: 19px;
  border-top: 2px solid #68b738;

  .program__group {
    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 60px;
      grid-row-gap: 32px;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: $gap-desktop;
    }
  }
}

.program__button {
  margin-top: 8px;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.program__form-legend {
  padding-bottom: 32px;
  display: block;
  font-family: $basic-font;
  font-size: 0.875em;
  line-height: 1.285;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
    text-align: left;
    align-self: center;
  }
}
