.program__fieldset {
  @include wrapper-x-padding();
  margin: 0;
  border: none;
  font-family: $title-font;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.125;
  text-transform: uppercase;

  @media (min-width: $tablet-width) and (max-width: $tablet-only-width) {
    @include wrapper-x-padding(20px, 20px, 40px);
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 42px;
  }
}

.program__fieldset-group {
  @media (min-width: $desktop-width) {
    margin-bottom: 20px;
    padding-left: 110px;
    padding-right: 110px;
    padding-bottom: 19px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: $gap-desktop;
  }
}

.program__fieldset-group .program__fieldset {
  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-right: 0;
  }
}

.program__group {
  display: grid;
  grid-row-gap: 15px;

  @media (min-width: $tablet-width) {
    grid-row-gap: 20px;
  }
}

.program__legend {
  margin-left: -$wrapper-padding-mobile;
  margin-bottom: 34px;
  padding-left: $wrapper-padding-mobile;
  padding-right: 20px;
  padding-bottom: 0.2em;
  font-size: 1.5em;
  line-height: 1.085;
  text-transform: none;

  @media (min-width: $tablet-width) {
    margin-left: -40px;
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 76px;
    font-size: 36px;
  }
}

.program__label {
  font-size: 1em;
  line-height: 1.125;

  @media (min-width: $tablet-width) {
    font-size: 1.25em;
    line-height: 1.5;
  }
}

.program__legend--owner {
  padding-top: 0.75em;
  padding-bottom: 0;

  @media (max-width: $mobile-only-width) {
    width: 182px;
    margin-bottom: 36px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

.program__legend--comment {
  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
  }
}

.program__cat-params {
  padding-top: 27px;
  padding-bottom: 23px;

  @media (min-width: $tablet-width) {
    padding-bottom: 27px;
  }
}

.program__cat-params .program__group {
  row-gap: 15px;

  @media (min-width: $tablet-width) {
    row-gap: 20px;
  }
}

.program__program-type {
  padding-top: 23px;
  padding-bottom: 17px;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;

  @media (min-width: $tablet-width) {
    padding-top: 4px;
    padding-bottom: 22px;
    border-top: none;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    padding-top: 27px;
  }
}

.program__program-type .program__group {
  row-gap: 13px;

  @media (min-width: $tablet-width) {
    padding: 24px 28px;
    border: 1px solid #cccccc;
  }
}

.program__owner-contacts {
  margin-top: 8px;
  padding-top: 0;
  padding-bottom: 19px;
  border-top: 2px solid #68b738;

  @media (min-width: $tablet-width) {
    margin-top: 51px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    margin-bottom: 46px;
  }

  .program__group {
    @media (min-width: $desktop-width) {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: $gap-desktop;
    }
  }
}

.program-input--number {
  appearance: none;
}

.program-input {
  box-sizing: border-box;
  padding: 9px 14px;
  font-family: $title-font;
  font-size: 1em;
  border-radius: 0;
  border: 1px solid #e7e7e7;
  color: $special-dark;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 10px 20px;
    font-size: 1em;
    line-height: 1.5;
  }

  &:invalid {
    border-color: $error;
  }

  &:hover {
    border-color: $special-grey;
  }

  &:focus {
    outline: none;
    border-color: $special-dark;
  }
}

.program__input-wrapper {
  display: inline-block;
  position: relative;

  .program-input {
    width: 100%;
    padding-right: 40px;
  }
}

.program-input__icon {
  position: absolute;
  right: 17px;
  top: 50%;
  transform: translateY(-50%);
}

.program-input:invalid + .program-input__icon {
  stroke: $error;
  fill: $error;
}

.program-input:hover + .program-input__icon {
  stroke: $special-grey;
  fill: $special-grey;
}

.program-input:disabled + .program-input__icon {
  stroke: $base-accent;
  fill: $base-accent;
}

.program__radio {
  height: 30px;

  @media (min-width: $tablet-width) {
    height: 40px;
  }
}

.program__radio-input {
  position: absolute;
  appearance: none;
}

.program__radio-box {
  margin-right: -2px;
  width: 30px;
  height: 30px;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='20' cy='20' r='19.5' stroke='%23CDCDCD'/%3E%3C/svg%3E%0A");

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    margin-right: 2px;
  }
}

.program__check {
  height: 30px;

  @media (min-width: $tablet-width) {
    height: 40px;
  }
}

.program__check-input {
  position: absolute;
  appearance: none;
  margin-left: 40px;
}

.program__check-box {
  margin-right: -1px;
  width: 30px;
  height: 30px;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='39' height='39' stroke='%23CDCDCD'/%3E%3C/svg%3E%0A");

  @media (min-width: $tablet-width) {
    margin-right: 2px;
    width: 40px;
    height: 40px;
  }
}

.program__check-input:checked + .program__check-box {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='39' height='39' stroke='%23CDCDCD'/%3E%3Cpath d='M18 24.718L12.3 18.2695L11.25 19.4574L18 27.0938L29.25 14.3665L28.2 13.0938L18 24.718Z' fill='%2368B738'/%3E%3C/svg%3E%0A");
}

.program__radio-input:checked + .program__radio-box {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='20' cy='20' r='19.5' stroke='%23CDCDCD'/%3E%3Ccircle cx='20' cy='20' r='9' fill='%2368B738'/%3E%3C/svg%3E");
}

.program__comment {
  margin-top: 5px;
  padding-top: 0;
  padding-bottom: 19px;
  border-top: 2px solid #68b738;

  @media (min-width: $desktop-width) {
    margin-top: 0;
    margin-bottom: 44px;
  }
}

.program__textarea {
  height: 150px;
  width: 100%;
  margin: 0;
  padding: 9px 13px;

  @media (min-width: $tablet-width) {
    height: 174px;
    padding: 9px 17px;
    font-size: 1.25em;
  }
}

.program__extra-goods {
  margin-top: 2px;
  padding-top: 0;
  padding-bottom: 19px;
  border-top: 2px solid #68b738;

  @media (min-width: $tablet-width) {
    margin-bottom: 35px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    margin-bottom: 41px;
  }

  .program__group {
    grid-row-gap: 12px;

    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 60px;
      grid-row-gap: 32px;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: $gap-desktop;
    }
  }
}

.program__extra-goods .program__legend {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 49px;
  }
}

.program__button {
  margin-top: 16px;
  margin-bottom: 21px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1em;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 1.25em;
    line-height: 1;
  }
}

.program__form-legend {
  padding-bottom: 31px;
  display: block;
  font-family: $basic-font;
  font-size: 0.875em;
  line-height: 1.285;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
    text-align: left;
    align-self: center;
    font-size: 1em;
    line-height: 1;
  }
}
