.social__list {
  @include reset-list;
  display: grid;
  grid-template-columns: repeat(3, min-content);
  grid-column-gap: 33px;
  justify-content: center;
}

.social__item {
  display: flex;
  align-items: center;
}

.social__link {
  display: inline-block;
}

.social__icon {
  &--vkontakte {
    &:hover {
      fill: $base-accent;
    }
  }

  &--instagram {
    &:hover {
      fill: $base-accent;
    }
  }

  &--facebook {
    &:hover {
      stroke: $base-accent;
    }
  }

  &:active {
    opacity: 30%;
  }
}
