@mixin wrapper-x-padding($left: 20px, $right: 20px) {
  padding-left: $left;
  padding-right: $right;

  @media (min-width: $tablet-width) {
    padding-left: $left + 10;
    padding-right: $right + 10;
  }

  @media (min-width: $desktop-width) {
    padding-left: $left + 20;
    padding-right: $right + 20;
  }

  @media (min-width: $desktop-full-width) {
    padding-left: $left + 90;
    padding-right: $right + 90;
  }
}
