// Font
$title-font: "Oswald", sans-serif;
$basic-font: "Arial", sans-serif;
// Colors
$base-accent: #68b738;
$basic-white: #ffffff;
$basic-grey: #f2f2f2;
$special-dark: #444444;
$border-light: #d9d9d9;
$border-lighten: #e6e6e6;
