// Font
$title-font: "Oswald", sans-serif;
$basic-font: "Arial", sans-serif;
// Colors
$base-accent: #68b738;
$special-accent: #5eaa2f;
$basic-white: #ffffff;
$basic-black: #000000;
$basic-grey: #f2f2f2;
$special-grey: #cdcdcd;
$special-grey-lighter: #dcdcdc;
$special-dark: #444444;
$special-dark-2: #222222;
$border-light: #d9d9d9;
$border-lighten: #e6e6e6;
$border-lightest: #ebebeb;
// Padding
$wrapper-padding-mobile: 20px;
$wrapper-padding-tablet: 30px;
$wrapper-padding-desktop: 40px;
$wrapper-padding-desktop-full: 110px;
$program-extra-padding: 40px;
// Gap
$gap-tablet: 60px;
$gap-desktop: 80px;
// Viewport
$tablet-width: 768px;
$desktop-width: 1280px;
$desktop-full-width: 1440px;
$mobile-only-width: $tablet-width - 1;
$tablet-only-width: $desktop-width - 1;
